ul li {
    /*inline element to make width of background same length as the text (e.g. display:inline;.... replace input with block for block element
    BLOCK = background will stretch across whole page. 
    INLINE= background will only stretch as long as its content*/
    


    border-radius: 20px; /*the border for the buttons*/
    border: 3px solid #808080;
    box-shadow: 3px 3px 3px #00000061;
    margin-bottom: 10px;
    background-color: #808080;
    padding: 10px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block;
    width: 160px; /*width of 160px to make page tabs spaced out equally across the page*/
    list-style: none;
    margin-left: 5em;  /*margin left used for moving page tabs to centre of page*/
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

nav ul li ul li {
    display: table-cell;
    /* added this so submenu are displayed underneath the main page buttons. i added table cell to display on the code
                          above but that pushed all the buttons to the left*/
}


a {
    color: #1d1d1d;
}


h2 {
    text-decoration: underline;
}

* {
    /*asterisk is used to remove all default padding and margins*/
    margin: 0;
    padding: 0;
}





body {     /* this is for the template of the wesbite and how much it will take up*/
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "aside main main"
        "footer footer footer"
    ;
}





header {
    background-color: #1d1d1d;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: header;
}





nav {
    background-color: #1d1d1d;
    grid-area: nav;
    color: white;
}





main {
    background-color: #1d1d1d;
    color: white;
    grid-area: main;
  
    
}





aside {
    background-color: #1d1d1d;
    color: white;
    grid-area: aside;
}






footer {
    background-color: #1d1d1d;
    color: white;
    grid-area: footer;
}

nav ul a {
    color: white;
}

nav>ul>li {
    /* direct descendent used to target element one level down*/
    position: relative;
}


nav ul ul { /* this so the submenu can fade in when hovering over the main menu*/
    position: absolute;
    display: block;
    padding: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    /* the submenu will fade in and the timer is how long it will atake to fade in*/
    pointer-events: none;

}


nav>ul>li:hover ul {
    /* to add the hover effect for the submenu, when <li> is hovered over the submenu <ul> will be shown*/
    opacity: 1;
    pointer-events: auto;
    /*  pointer event used for sub menu so it becomes interactive when being hovered over otherwise it will show when youre not close to it*/
}

form {
/*contact form positioning*/
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 1em;
    padding: 200px;
   
}




input[type="submit"] { /*position for submit button*/
    grid-column: 2;
}



textarea { /* position and colour for text area*/
    background-color: #808080;
    padding: 1.5em;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
   
   
}

input{ /*color for input area*/
    background-color: #808080;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    
}

input::placeholder { /* two colons before placeholder to change placeholder text colour*/
color: #000000;
}