ul li {
    /*inline element to make width of backgrounf same length as the tezt (e.g. display:inline;.... replace input with block for block element
    BLOCK = background will stretch across whole page. INLINE= background will only stretch as long as its content*/
    /*added float left and width of 160px to make page tabs spaced out equally across the page*/
    /*margin left used for moving page tabs to centre of page*/

    border-radius: 20px;
    border: 3px solid #808080;
    box-shadow: 3px 3px 3px #00000061;
    margin-bottom: 10px;
    background-color: #808080;
    padding: 10px;
    text-transform: uppercase;
    color: #000000;
    display: inline-block; 
    width: 160px;
    list-style: none;
    margin-left: 150px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
 nav ul li ul li {
  display: table-cell; /* added this so submenu are displayed underneath the main page buttons. i added table cell to display on the code
                          above but that pushed all the buttons to the left*/
 }


a {
    color: #1d1d1d;
}





* {
    /*asterisk is used to remove all default padding and margins*/
    margin: 0;
    padding: 0;
}





body {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav nav nav"
        "aside main main"
        "footer footer footer"
    ;
}





header {
    background-color: #1d1d1d;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: header;
}





nav {
    background-color: #1d1d1d;
    grid-area: nav;
    color: white;
}





main {
    background-color: #1d1d1d;
    color: white;
    grid-area: main;
}





aside {
    background-color:#1d1d1d;
    color: white;
    grid-area: aside;
}






footer {
    background-color: #1d1d1d;
    color: white;
    grid-area: footer;
}

nav ul a{ 
    color: white;
}

nav > ul > li {
    /* direct descendent used to target element one level down*/
    position: relative;
}


nav ul ul {
    position: absolute; 
    display:block;
    padding: 0; 
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in; /* the submenu will fade in and the timer is how long it will atake to fade in*/ 
    pointer-events: none ;
    
}


nav > ul > li:hover ul {
    /* to add the hover effect for the submenu, when <li> is hovered over the submenu <ul> will be shown*/
    opacity: 1;
    pointer-events: auto; /*  pointer event used for sub menu so it becomes interactive when being hovered over*/
}


