ul li {
    /*inline element to make width of backgrounf same length as the tezt (e.g. display:inline;.... replace input with block for block element
    BLOCK = background will stretch across whole page. INLINE= background will only stretch as long as its content*/
    /*added float left and width of 160px to make page tabs spaced out equally across the page*/
    /*margin left used for moving page tabs to centre of page*/

    border-radius: 20px;
    border: 1px solid #808080;
    box-shadow: 3px 3px 3px #00000061;
    margin-bottom: 0.34em;
    background-color: #808080;
    padding: 4px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-table;
    width: 160px;
    list-style: none;
    margin-left: 1px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}


ul li a {
    color: white;
}





a {
    color: #1d1d1d;

}





* {
    /*asterisk is used to remove all default padding and margins*/
    margin: 0;
    padding: 0;
}





body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
        /* This template is only for mobile so it mobile friendly and stacks correctly for mobile users*/

        /* nav is not needed here because we will make it appear on one side of the device and later make it toggle on and off wiht hamburger icon*/
    ;
}





header {
    background-color: #1d1d1d;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: header;
}





nav {
    background-color: #1d1d1d;
    grid-area: nav;


}





main {
    background-color: #1d1d1d;
    color: white;
    grid-area: main;
   

}





aside {
    background-color: #1d1d1d;
    color: white;
    grid-area: aside;
}






footer {
    background-color: #1d1d1d;
    color: white;
    grid-area: footer;
}


.Hamburger {
    /*this code is added to create the hamburger icon but it only adds the top and bottom line, the code below will then add the middle line*/
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}




.Hamburger::before {
    /* This is pseudo element which is added after the code above to add the middle line in the hamburger icon*/
    content: '';
    position: absolute;
    display: grid;
    /*Middle line moving slighly right resolved by adding display: grid here*/
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
} 
/* only the icon is displayed in the header it is not clickable yet*/




nav {
    /* this will make the nav take up 50% of the width of the screen and 100% of the height and it will remain there until we introduce a hamburger icon*/

    /*This is one of the steps for moving the navigation to the hamburger icon so it can toggle on and off and this way it wont be on the page all the time*/
    display: block;
    background-color: #1d1d1d;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transition: transform 0.5s ease-in;/*for slide in and out effect for menu*/
    
}




a {
    color: #1d1d1d;
    text-decoration: none;
}
 


/* CSS code for toggling nav on and off. Target selector only applies style when its targeted*/
.clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav { /* this code is now added to now the nav is toggles on and off*/
    display: block;
    transform: translate(100%,0); /* slide in and out effect for menu*/
    
}


form {

    display: grid;
    width: 19em;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-gap: 1em;
    padding: 2em;
   
}




input[type="submit"] {
    grid-column: 2;
}



textarea {
    background-color: #808080;
    padding: 1.5em;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
   
   
}

input{ /* targets the text bot*/
    background-color: #808080;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    
}

input::placeholder { /* two colons before placeholder to change placeholder text colour*/
color: #000000;
}