ul li {
    /*inline element to make width of backgrounf same length as the tezt (e.g. display:inline;.... replace input with block for block element
    BLOCK = background will stretch across whole page. INLINE= background will only stretch as long as its content*/
    /*added float left and width of 160px to make page tabs spaced out equally across the page*/
    /*margin left used for moving page tabs to centre of page*/

    border-radius: 20px;
    border: 3px solid #808080;
    box-shadow: 3px 3px 3px #00000061;
    margin-bottom: 10px;
    background-color: #808080;
    padding: 4px;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-table;
    width: 160px;
    list-style: none;
    margin-left: 1px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}


ul li a {
    color: white;
}





a {
    color: #1d1d1d;

}





* {
    /*asterisk is used to remove all default padding and margins*/
    margin: 0;
    padding: 0;
}





body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "aside"
        "footer"
        /* This template is only for mobile so it mobile friendly and stacks correctly for mobile users*/
    ;
}





header {
    background-color: #1d1d1d;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: header;
}





nav {
    background-color: #1d1d1d;
    grid-area: nav;


}





main {
    background-color: #1d1d1d;
    color: white;
    grid-area: main;

}





aside {
    background-color: #1d1d1d;
    color: white;
    grid-area: aside;
}






footer {
    background-color: #1d1d1d;
    color: white;
    grid-area: footer;
}


.Hamburger {
    /*this code is added to create the hamburger icon but it only adds the top and bottom line, the code below will then add the middle line*/
    height: 0.8em;
    width: 1.25em;
    display: grid;
    /* Lecture notes showed display:block, had to change to grid otherwise icone middle line would move slightly right, i used
    developer tools (inpsect element to see which one would work - ask chris*/
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}




.Hamburger::before {
    /* This is pseudo element which is added after the code above to add the middle line in the hamburger icon*/
    content: '';
    position: absolute;
    display: grid;
    /*Middle line moving slighly right resolved by adding display: grid here*/
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}




nav {
    /*This is one of the steps for moving the navigation to the hamburger icon so it can toggle on and off and this way it wont be on the page all the time*/
    display: block;
    background-color: #1d1d1d;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    transition: transform 0.5s ease-in;/*for slide in and out effect for menu*/
    
}




a {
    color: #1d1d1d;
    text-decoration: none;
}




/* CSS code for toggling nav on and off. Target selector only applies style when its targeted*/
.clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target nav {
    display: block;
    transform: translate(100%,0); /* slide in and out effect for menu*/
    
}


