ul li{
    border-radius: 20px;
    border: 3px solid #666;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 10px;
    background-color: darkblue;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    display: inline;
    /*inline element to make width of backgrounf same length as the tezt (e.g. display:inline;.... replace input with block for block element*/
    
}
