ul li {
    /*inline element to make width of backgrounf same length as the tezt (e.g. display:inline;.... replace input with block for block element
    BLOCK = background will stretch across whole page. INLINE= background will only stretch as long as its content*/
    /*added float left and width of 160px to make page tabs same length*/
    /*margin left used for moving page tabs to centre of page*/
    border-radius: 20px;
    border: 3px solid #666;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 10px;
    background-color: rgb(248, 6, 6);
    padding: 10px;
    text-transform: uppercase;
    color: rgb(255, 0, 0);
    display: inline-block;
    width: 160px;
    list-style: none;
    margin-left: 120px; 
}

body {
    background-color: rgba(14, 13, 13, 0.822);
}

a {
    color: white;
}

*{
    /*asterisk is used to remove all default padding and margins*/
    margin: 0;
    padding:0;
}